@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Rowdies&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    font-family:'Rowdies', sans-serif;
    color: antiquewhite;
    font-weight: 500;
    text-rendering: optimizeLegibility;
}
body{
    font-weight: 400;
    background-color: #000000;
    background: linear-gradient(45deg,#000000,#2D3436,#434343,#565656);
    position: relative;
    width: 100%;
    height: 100%;
    background-size: 400%;
    animation: bganimation 10s ease infinite;
}
header{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}
main{
    animation: transitionIn 0.75s;
    min-height: 80vh;
    overflow: auto;
    padding-bottom: 50px;
}
nav{
    margin-right: 5%;
}
#logo{
    height: 50px;
    width: 50px;
}
nav ul{
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    color: antiquewhite;
}
nav ul li{
   padding-right: 7px;
}
nav ul li a{
    transition: all 0.3s ease 0s;
    padding: 5px;
    line-height: 40px;
}
nav ul li a:hover{
    color:#4C97E0;
}
.text{
    padding: 0 5%;
    text-align: justify;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
#active{
    border: 1px solid red;
    color: #4C97E0;
 }
footer{
    padding: 2px 2%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    width: 100%;
}
#social{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#social i{
    font-size: 150%;
    width: 35px;
    height: 35px;
    padding: 2%;
}
@keyframes bganimation {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
@keyframes transitionIn{
    from{
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to{
        opacity: 1;
        transform: rotateX(0);
    }
}
::-webkit-scrollbar{
    width: 5px;
    background: linear-gradient(-45deg,#000000,#2D3436,#434343,#565656);
}
::-webkit-scrollbar-track{
    border: 5px solid transparent;
    box-shadow: inset 0 0 2.5px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb{
    background-color: #4B96DF;
}

